<div class="container-fluid">
  <div class="row my-5">
    <div class="col-sm-12 col-md-6 mx-auto">
      <h1>Simulador de prestamos</h1>
      <form
        [formGroup]="simulatorForm"
        action=""
        (ngSubmit)="handleCalculate()"
      >
        <!-- CREDIT TYPE -->
        <div class="input-group mb-3">
          <label class="input-group-text" for="creditType"
            >Tipo de crédito</label
          >
          <select class="form-select" formControlName="creditType">
            <option value="personal" selected>Personal</option>
            <option value="prendario">Prendario</option>
          </select>
        </div>
        <!-- CUANTO QUIERO PEDIR -->
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            >Cuanto desea pedir</span
          >
          <input
            formControlName="pedir"
            type="number"
            class="form-control"
            placeholder="pedir"
            aria-label="pedir"
            aria-describedby="basic-addon1"
          />
        </div>
        <!-- COUNT-->
        <div class="input-group mb-3">
          <label class="input-group-text" for="duesCount"
            >Cantidad de cuotas</label
          >
          <select class="form-select" formControlName="duesCount">
            <option value="12">12</option>
            <option value="24">24</option>
            <option value="36">36</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary w-100 mx-1">
          Calcular
        </button>
      </form>
      <hr />
      <div *ngIf="total != 0">
        <h1>Tu credito</h1>
        <h5>Monto solicitado: ${{ this.simulatorForm.value.pedir }}</h5>
        <h5>
          Intereses: ${{
            total * this.simulatorForm.value.duesCount -
              this.simulatorForm.value.pedir
          }}
        </h5>
        <h5>Devolvés : ${{ total * this.simulatorForm.value.duesCount }}</h5>
        <h5>
          Te queda una cuota de :
          <strong>${{ total | number }}</strong>
        </h5>
        <a
          class="w-100"
          [href]="'https://wa.me/' + whatsapp"
          class="btn btn-success p-2"
        >
          Consultanos por Whatsapp haciendo click acá
        </a>
      </div>
    </div>
  </div>
</div>
