<div class="container-fluid">
  <!-- IMAGEN PRINCIPAL -->
  <div class="row">
    <div class="col mainImg">
      <div class="row text-center text-white">
        <div class="col">
          <br />
          <h1 class="mt-5">Brex FyV</h1>
          <p style="font-size: 25px">
            <strong>Financiamos tus sueños</strong>
          </p>
          <p>
            <strong
              >Obtené las mejores tasas del mercado | | La nueva generación de
              prestamos</strong
            >
          </p>
          <br />
          <h5>
            Probá nuestro simulador de prestamos haciendo click
            <strong class="text-primary" routerLink="simulador">Aquí</strong>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!-- INICIO -->
  <div class="row p-3" style="background-color: rgba(32, 8, 58, 255)">
    <div class="col-12 text-center text-white my-5">
      <h3 class="mb-5">
        <strong
          >¡ Filtrá por categoría para encontrar lo que buscas más rápido
          !</strong
        >
      </h3>
      <!-- CATEGORYS -->
      <div class="row">
        <div class="col-12 col-md-6">
          <label for="">Categorías</label>
          <select
            [(ngModel)]="category"
            class="form-select"
            aria-label="Habitaciones"
          >
            <option value="0" selected>Todas las categorías</option>
            <option value="Vehiculos">Vehiculos</option>
          </select>
        </div>
        <button
          class="col-12 col-md-6 btn-primary mt-2 p-1"
          (click)="handleSearch('Alquilar')"
        >
          Buscar &nbsp;
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- SPINNER CARGA -->
  <div *ngIf="loading" class="text-center p-5">
    <div class="spinner-border p-3" role="status">
      <span class="visually-hidden">Cargando resultados...</span>
    </div>
  </div>

  <!-- BUSQUEDA DEL FILTRO -->
  <div class="row" *ngIf="showResults">
    <div class="col-12 p-3" style="font-size: 2rem">
      Resultados de busqueda:
    </div>
    <div *ngIf="filterPropertys.length == 0">
      <hr />
      <h4>Lamentablemente no encontramos productos con esos filtros.</h4>
      <br />
      <h5>Podés cambiarlos y/o revisar otros</h5>
      <hr />
    </div>
    <div *ngFor="let i of filterPropertys" class="col-sm-12 col-md-3 my-2">
      <div class="card w-100" style="width: 16rem">
        <img
          [src]="i.urlPhotos[0] || environment.urlHouse"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ i.title }}</h5>
          <p><strong>Descripción: </strong>{{ i.description }}</p>
          <p><strong>Categoría: </strong>{{ i.category }}</p>
          <p><strong>Precio: </strong>{{ i.prize || "Consultar" }}</p>
          <div class="row">
            <div class="col-12">
              <a
                [routerLink]="'/detalle/' + i.id"
                [state]="i"
                class="btn btn-primary w-100"
                >Obtener más información</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TODOS -->
  <div class="row">
    <div class="col-12 p-3" style="font-size: 2rem">
      <strong>Todos los productos</strong>
    </div>
    <div *ngFor="let i of products" class="col-sm-12 col-md-3 my-2">
      <div class="card w-100" style="width: 16rem">
        <img
          [src]="i.urlPhotos[0] || environment.urlHouse"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ i.title }}</h5>
          <p><strong>Descripción: </strong>{{ i.description }}</p>
          <p><strong>Categoría: </strong>{{ i.category }}</p>
          <p><strong>Precio: $ </strong>{{ i.prize || "Consultar" }}</p>
          <div class="row">
            <div class="col-12">
              <a
                [routerLink]="'/detalle/' + i.id"
                [state]="i"
                class="btn btn-primary w-100"
                >Obtener más información</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
