.mainImg::after {
  filter: brightness(0.4);
}
.mainImg {
  background-image: url("../../../assets/mainImage.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: contain;
}
