<div class="row">
  <div class="col text-center p-5">
    <h1>Creditos Personales</h1>
    <h3 class="mt-4">Que necesitás?</h3>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item">Ser argentino o residente con DNI</li>
      <li class="list-group-item">
        Ingresos mensuales netos superiores a $15.000.
      </li>
      <li class="list-group-item">
        Antigüedad laboral mínima de 6 meses (Empleados) y 12 meses
        (Monotributistas y autónomos)
      </li>
      <li class="list-group-item">
        Requisitos para Crédito Personal Buenos antecedentes de pago en los
        últimos 2 años.
      </li>
    </ol>
    <h3 class="mt-4">Que beneficios obtenés?</h3>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item">Sin costos de mantenimiento</li>
      <li class="list-group-item">
        Ingresos mensuales netos superiores a $15.000.
      </li>
      <li class="list-group-item">
        Tasas fijas y acordes a tu perfil crediticio
      </li>
      <li class="list-group-item">Cancelación total o parcial sin costo</li>
      <li class="list-group-item">Atención personalizada</li>
    </ol>
    <br />
    <button routerLink="/simulador" class="btn btn-primary">
      Probá simular tu crédito haciendo click acá
    </button>
  </div>
</div>
